name: Release Compile
on:
  push:
    tags:
      - 'v3.*.*'
  workflow_dispatch:
jobs:
  build-and-release-fw:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Compile application
      id: compile
      uses: particle-iot/compile-action@v1
      with:
        particle-platform-name: 'tracker'
        device-os-version: '5.3.0'
    - name: Rename binary
      run: |
        mv ${{ steps.compile.outputs.firmware-path }} smartfin_fw_${{ github.ref_name }}.bin
        tail -c 38 smartfin_fw_${{ github.ref_name }}.bin | hexdump -n 32 -e '1 1 "%02x"' > smartfin_fw_${{ github.ref_name }}.bin.fw_sha256
    - name: Upload release artifact
      uses: softprops/action-gh-release@v2
      with:
        files: |
          smartfin_fw_${{ github.ref_name }}.bin
          smartfin_fw_${{ github.ref_name }}.bin.fw_sha256
